<section class="study">
  <h1>Lego CSS Library</h1>
  <pre class="header-image">
                    ___            ___           ___           ___     
                   /  /\          /  /\         /  /\         /  /\    
                  /  /:/__       /  /:/_       /  /::\       /  /:/_   
                 /  /:/  /\     /  /:/ /\     /  /:/\:\     /  /:/ /\  
   ___      __  /  /:/  /:/_   /  /:/_/::\   /  /:/  \:\   /  /:/ /::\ 
  /__/\    / /\/__/:/  /:/ /\ /__/:/__\/\:\ /__/:/ \__\:\ /__/:/ /:/\:\
  \  \:\  / /:/ \  \:\/:/ /:/ \  \:\ /~~/:/ \  \:\ /  /:/ \  \:\/:/~/:/
   \  \:\/ /:/   \  \::/ /:/   \  \:\  /:/   \  \:\  /:/   \  \::/ /:/ 
    \  \:\/:/     \  \:\/:/     \  \:\/:/     \  \:\/:/     \__\/ /:/  
     \  \::/       \  \::/       \  \::/       \  \::/        /__/:/   
      \__\/         \__\/         \__\/         \__\/         \__\/    
  </pre>
  <div class="case-study">
    <h3>Objective</h3>
    <p>As a challenge and as a result of having to use Bootstap and Material Design in several projects I decided to make my own CSS library. Most of the projects I work on have either one or both CSS frameworks attached, which is not always my choice. I continually have to fight with it to override the styles of certain components. I decided to build a component library based on the styles that I normally override as a blanket foundation. Also, in creating my own framework, it would reduce the time it takes to set up a new websites scaffolding and allow me to concentrate more on the layout and design.</p>
    <h3>Challenge</h3>
    <p>All of it. I had, of course, worked with CSS and SASS, but, creating my own library that services the whole, with edge cases built in and out, was a huge challenge and undertaking.</p>
    <h3>Learned</h3>
    <p>Initially, I had this library as just static HTML documentation that lived on my computer.  When I needed it, I would serve it on my local host. While transitioning my portfolio website with Angular 6, I decided that I would separate out this library and make its own Angular project. </p>
  </div>
</section>
 