<section class="study">
  <h1>Lego CSS Library</h1>
  <img class="top-image" src="./assets/img/mockups/lego-mockup.png" alt="LegoCSS Logo">
  <a href="https://legocss.com/" target="_blank" rel="noreferrer"><button class="liveSite">Visit Website</button></a>
  <div class="case-study">
    <h3>Objective</h3>
    <p>Massive style libraries can block creativity, consistency, and contain more code than is necessary for a project. When I was first learning to program I used Twitter Bootstrap and Material Design. The downside was a considerable amount of code that I would never use. I would spend countless hours rewriting specific styles to my liking. When I noticed how much time I was spending doing this on every project LegoCSS was born.</p>
    <h3>Challenge</h3>
    <p>All of it. I had in-depth knowledge of CSS and SASS but designing and building an entire library, thinking out all of the edge-cases was a larger project than I imagined.</p>
    <h3>Learned</h3>
    <p>I began with a static HTML document that served as my library. It only existed on my computer and would take what I needed. I not only advanced my SASS skills but also learned more about Angular 2+. The entire documentation for this library uses Angular 6 because I wanted to become more familiar with it.</p>
    <p>Other things I learned in the process:</p>
    <ul>
      <li>Angular Routing</li>
      <li>Creating npm scripts</li>
      <li>Accessibility Standards</li>
      <li>Optimization and SEO</li>
    </ul>
  </div>
</section>
 