<section class="study">
  <h1>KNBR FanFest Insiders Guide Presented by McDonalds</h1>
  <img class="top-image" src="./assets/img/mockups/fanfest-mockup.png" alt="FanFest Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>Find a modern, engaging way to display information that would be useful for people who are going to, or, are at FanFest. The page needed to be responsive, as its main usage would most likely occur during the event.</p>
    <h3>Challenge</h3>
    <p>Discovering a way to integrate the client (McDonald's) favorably, while tying them into this event.</p>
    <h3>Solution</h3>
    <p>Cards are not only a trendy form of digesting content but they also ensure great user flow. People are now trained enough to understand what a card is, what it represents, and what kinds of information it holds.</p>
    <h3>Learned</h3>
    <p>I honestly learned how much responsive design plays into user happiness. It is something I was already aware of but I got to see first-hand how people on Facebook and Twitter shared this page with friends. Seeing the pace at which it was shared and viewed, most likely at the event on mobile devices, really made responsive design much more real to me.</p>
  </div>
</section>