<footer>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/morganataylor" target="_blank" title="linkedin icon">
      <span class="fa fa-linkedin-square" aria-hidden="true"></span>
    </a>
    <a href="https://github.com/morgantaylor" target="_blank" title="github icon">
      <span class="fab fa-github" aria-hidden="true"></span>
    </a>
    <a href="mailto:mtwebmedia@gmail.com?Subject=Website!" title="email icon">
      <span class="fa fa-envelope-o" aria-hidden="true"></span>
    </a>
  </div>
  <h6>Morgan Taylor &#169; 2020</h6>
</footer>