<footer>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/morganataylor" target="_blank" rel="noreferrer" title="linkedin icon">
      <fa-icon [icon]="['fab', 'linkedin']" class="fa-lg" aria-hidden="true"></fa-icon>
    </a>
    <a href="https://github.com/morgantaylor" target="_blank" rel="noreferrer" title="github icon">
      <fa-icon [icon]="['fab', 'github']" class="fa-lg" aria-hidden="true"></fa-icon>
    </a>
    <a href="mailto:mtwebmedia@gmail.com?Subject=Website!" title="email icon">
      <fa-icon [icon]="['far', 'envelope']" class="fa-lg" aria-hidden="true"></fa-icon>
    </a>
  </div>
  <h6>Morgan Taylor &#169; 2020</h6>
</footer>
