<footer>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/morganataylor" target="_blank">
      <span class="fa fa-linkedin-square" aria-hidden="true"></span>
    </a>
    <a href="https://www.pinterest.com/mataylor8/" target="_blank">
      <span class="fa fa-pinterest" aria-hidden="true"></span>
    </a>
    <a href="https://github.com/morgantaylor" target="_blank">
      <span class="fa fa-github" aria-hidden="true"></span>
    </a>
  </div>
  <h6>Morgan Taylor &#169; 2018</h6>
</footer>