<section class="study">
  <h1>KGO Radio</h1>
  <img class="top-image" src="./assets/img/mockups/kgoradio-mockup.png" alt="KGO Radio Mockup Image">
  <a href="http://www.kgoradio.com/" target="_blank"><button class="liveSite">Visit Website</button></a>
  <div class="case-study">
    <h3>Objective</h3>
    <p>Both KGORadio.com and KFOG.com were going through complete structural transformations. KGORadio.com shifted their focus from being a predominantly News station to Talk Radio. That meant a huge shift of the content to be displayed on the website. The objective was two-fold; I needed to find a way to make sure the website didn't seem empty without all the normal news content. Secondly, I needed to rebrand it as a Talk station rather a news one.</p>
    <h3>Challenge</h3>
    <p>The challenge with the rebranding was potentially losing an audience that expected news content. We needed to find a new niche for the radio station itself, while finding a new digital identity and presence.</p>
    <h3>Solution</h3>
    <p>The majority of all the elements stayed the same structurally, however there were some stylistic changes.  For example, a lot of the hard edges were replaced with rounded corners and stark colors were replaced with toned-down colors. My ultimate goal was to make sure the site was cohesive. Consistency was and continues to be key through all the station’s websites.</p>
    <h3>Learned</h3>
    <p>What works the best on this site is how pliable the cards on the homepage are. They adapt at each stage of our posting process: between putting up the initial guest page before a show then after the show updating that same post with a podcast. As a viewer it seems like things are constantly changing but in reality, on the backend, only small adjustments are being made with minimal additions being added.</p>
  </div>
</section>