<section class="study">
  <h1>Yosemite Experience - KNBR - KFOG</h1>
  <img class="top-image" src="src/assets/img/mockups/yosemite-mockup.png" alt="Yosemite Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>This microsite was a customized contest page with a PHP database setup housed on both KNBR.com and KFOG.com.</p>
    <h3>Challenge</h3>
    <p>With customized micro-pages we are able to give clients more of a personalized product for them to present to visitors. My challenge was to set up two separate tables in the same database to keep all of the contest entries under one client name. This would make it easier when it came to time to export all of that visitor information to pass along to the client.</p>
    <h3>Solution</h3>
    <p>The solution should always involve keeping things simple and clean. Picking colors similar to the images that were used and using a block layout with a high priority in a mobile first approach.</p>
    <h3>Learned</h3>
    <p>I learned more about PHP integration and how to set up multiple tables inside the same database while targeting them separately.</p>
  </div>
</section>