<section class="study">
  <h1>Radio Station Microsites</h1>
  <p>Click one of the projects for more details</p>
  <div class="study-cubes">
    <a routerLink="/case-study/microsites/levis" class="study-cube">
      <img class="feed__img" src="./assets/img/mockups/levis-mockup-small.png" alt="Levis Microsite Image">
      <div class="cube-caption">Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge - KFOG</div>
    </a>
    <a routerLink="/case-study/microsites/fanfest" class="study-cube">
      <img class="feed__img" src="./assets/img/mockups/fanfest-mockup-small.png" alt="SF Giants Fanfest Microsite Image">
      <div class="cube-caption">SF Giants Fanfest - KNBR</div>
    </a>
    <a routerLink="/case-study/microsites/yosemite" class="study-cube">
      <img class="feed__img" src="./assets/img/mockups/yosemite-mockup-small.png" alt="Yosemite Microsite Image">
      <div class="cube-caption">Yosemite - KFOG / KNBR</div>
    </a>
    <a routerLink="/case-study/microsites/sobek" class="study-cube">
      <img class="feed__img" src="./assets/img/mockups/sobek-mockup-small.png" alt="Sobek Microsite Image">
      <div class="cube-caption">Mountain Travel Sobek - KFOG</div>
    </a>
  </div>
  <div class="case-study">
    <h2>Design Process</h2>
    <hr>
    <h3>Discovery</h3>
    <p>I start by interviewing the client and asking questions to understand where solutions can be implemented.</p>
    <h3>Research</h3>
    <p>Researching the industry and competition is very important. After all assets are collected i compile the site architecture ensuring the flow is intuitive for users.</p>
    <h3>Design</h3>
    <p>Through iterations of sketches, mockups, and prototypes, all visual elements and individual page designs are created and presented for feedback.</p>
    <h3>Development</h3>
    <p>After the mockups have been approved i get started on coding each individual website to pixel perfection. It is important to me to do extensive browser testing as well as testing for the best optimization.</p>
    <h3>Launch</h3>
    <p>Once getting the clients final feedback the site can go live.</p>
  </div>
</section>