<section class="study">
  <h1>Oral-B Glide Floss Bridge to Bridge Run</h1>
  <img class="top-image" src="src/assets/img/mockups/b2b-mockup.png" alt="Bridge to Bridge Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>Bridge to Bridge is an annual race and expo that is in its 40th year. Over the years, it has seen many changes and updates but the website didn't get the makeover it really needed. It became more of dumping ground of information in no specific order. My objective, coming in as an intern, was to overhaul it and update how visitors access information about the race.</p>
    <h3>Challenge</h3>
    <p>Starting from scratch is a challenge and a blessing. I had to begin the project with all new graphics and a basic structure. The information needed to flow so visitors could intuitively know where to go for certain information.</p>
    <h3>Research Questions:</h3>
    <ol>
      <li>What is the goal of the website?</li>
      <li>Who is the audience (not just runners)</li>
      <li>What is the user trying to accomplish and in what order?</li>
      <li>The mentality of the radio station websites is to just "throw it on the wesite". That is the wrong way to go about this project. How are we going to do it differently?</li>
      <li>If prioritizing making this website responsive, why is the sign up page, a page that we pay another company to make, not responsive?</li>
    </ol>
    <div class="figure">
      <img class="image image-half" src="src/assets/img/mockups/b2b-drawing1.png" alt="Bridge to Bridge wireframe and architecture drawing">
      <div class="figure-caption text-center">Wireframe sketches for the different pages of the website.</div>
    </div>
    <h3>Solution</h3>
    <p>I used elements from the Bootstrap 3 framework. I like the way Bootstrap designs for users on mobile devices The most important thing was to keep things clean by embracing white space and using plenty of large photographs to capture visitors’ attention.</p>
    <h3>Learned</h3>
    <p>I learned that building a website from scratch is better than having to repair a site with small patches. The largest lesson I’ve learned is figuring out how to work as the point-person for the entire site project with a team that may not understand the digital aspects that go into creating a website.</p>
  </div>
</section>