<section class="study">
  <h1>Mountain Travel Sobek - KFOG</h1>
  <img class="top-image" src="./assets/img/mockups/sobek-mockup.png" alt="Sobek Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>My objective was to create a customized client microsite where visitors could enter to win a trip from Mountain Travel Sobek.</p>
    <h3>Challenge</h3>
    <p>The challenge was to let the images speak for themselves and showcase trip prizes. I would also be gathering submission forms with a PHP database.</p>
    <h3>Solution</h3>
    <p>For these sites that live inside the radio station websites, structure is key in making sure the final page is responsive. The images are the first thing that grabs your attention when on the page. All that’s needed is filling in your name, email, and which trip you want. Then you're entered to win and the form is logged in the database.</p>
    <h3>Learned</h3>
    <p>I learned how to work with databases, PHP, and responsive design. None of these things are easy to implement inside a Wordpress template. Fixing the small details and bugs through developer tools created a cohesive presentation for the client.</p>
  </div>
</section>