<section class="panel whiteBkgd">
  <div class="panel__container--info">
    <h1>Contact Me</h1>
    <p>Fill out the form below and I'll be sure to get in touch.</p>
  </div>
</section>
<section class="panel">
  <form id="contact-form" method="post" action="contact.php" role="form" data-toggle="validator">
    <div class="messages"></div>
    <fieldset class="form-group">
      <label for="form_name">Name *</label>
        <input id="form_name" type="text" name="name" placeholder="Please enter your name *" required="required" data-error="Name is required.">
        <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="form_email">Email *</label>
        <input id="form_email" type="email" name="email" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
        <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="form_message">Message *</label>
        <textarea id="form_message" name="message" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
        <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</section>