<section class="study">
  <h1>Lego CSS Library</h1>
  <pre class="header-image">
                    ___            ___           ___           ___     
                   /  /\          /  /\         /  /\         /  /\    
                  /  /:/__       /  /:/_       /  /::\       /  /:/_   
                 /  /:/  /\     /  /:/ /\     /  /:/\:\     /  /:/ /\  
   ___      __  /  /:/  /:/_   /  /:/_/::\   /  /:/  \:\   /  /:/ /::\ 
  /__/\    / /\/__/:/  /:/ /\ /__/:/__\/\:\ /__/:/ \__\:\ /__/:/ /:/\:\
  \  \:\  / /:/ \  \:\/:/ /:/ \  \:\ /~~/:/ \  \:\ /  /:/ \  \:\/:/~/:/
   \  \:\/ /:/   \  \::/ /:/   \  \:\  /:/   \  \:\  /:/   \  \::/ /:/ 
    \  \:\/:/     \  \:\/:/     \  \:\/:/     \  \:\/:/     \__\/ /:/  
     \  \::/       \  \::/       \  \::/       \  \::/        /__/:/   
      \__\/         \__\/         \__\/         \__\/         \__\/    
  </pre>
  <div class="case-study">
    <h3>Objective</h3>
    <p></p>
    <h3>Challenge</h3>
    <p></p>
    <h3>Solution</h3>
    <p></p>
    <h3>Learned</h3>
    <p></p>
  </div>
</section>