<section class="study">
  <h1>This is Colossal</h1>
  <img class="top-image" src="./assets/img/mockups/colossal-mockup.png" alt="Colossal Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>This was one of my finals in the Web Media Program at UCSD. The goal of the project was to find a website that wasn't yet responsive and redesign it with a mobile first approach.</p>
    <!-- placeholder -->
    <img class="image" src="./assets/img/mockups/colossal-wireframe.png" alt="Colossal Wireframe Image">
    <h3>Challenge</h3>
    <p>My challenge was to bringing art to the masses, and in my experience, the masses consume content predominantly on mobile devices. Showcasing the art and the artists would be top priority as that is what people are coming to the website to see. Knowing what is important to a visitor viewing on a desktop isn’t the same as a visitor viewing on a mobile device.</p>
    <h3>Solution</h3>
    <p>I choose a colorful and whimsical style with very clear fonts to aid all devices. Advertisements can be seen on larger screens but disappear on smaller devices to allow the art to have more visibility.</p>
    <h3>Learned</h3>
    <p>I learned how to create a fully responsive website using the Bootstrap framework. Problem solving was a huge factor in this project. Some issues addressed were drop down menus, fixed navigation bars, and fluid rows and containers.</p>
    <p>It's great to look back on this and see how far i've come. At the time this for me was an amazing accomplishment. I look on it with only four years experience since and think "how rudimentary". We all have to start somewhere and that should be celebrated.</p>
  </div>
</section>