<section class="study">
  <h1>Portfolio Website</h1>
  <img class="top-image" src="./assets/img/mockups/mt-webmedia-mockup.png" alt="Webmedia Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>Transition my static website, that I use as my portfolio, into a scaleable dynamic site using Angular2.</p>
    <h3>Challenge</h3>
    <p>There are so many portfolio websites out there currently. My challenge to myself was being able to showcase what I do while also allowing users to gain access to the information they're looking for with clarity. For years my website has been static, multiple pages with much of the same information repeated over again, which is not DRY code. I decided to address that issue and challenged myself to completely re-write the code with Angular.</p>
    <h3>Learned</h3>
    <p>While I have worked with AngularJS and Angular2+ before my role was never lead. I helped on projects and added a few things in. I had never before set up an Angular project, created compenents, and had definitely not set up routing for navigation.</p>
    <h3>Reflection</h3>
    <p>I've had a portfolio website since around 2010. In the beginning it was just a website to sell my photography. I started out as a photography major and it seemed fitting to have a website to sell my artwork. Originally I learned webdesign as table elements, yes I said it. Once I went back to schoool for web development I created a seperate portfolio website, the right way this time, using elements other than tables for layout. Since then I have rewritten it several times based on new trends focusing on responsive design, UX best practices and promoting DRY code with Angular2. As new technologies and trends become availible I will continue to learn as much I can about them and adapt.</p>
  </div>
</section>