.social-icons {
	display: flex;
    justify-content: center;
    align-items: center;
}
	
.social-icons span {
	font-size: 32px;
    padding: 20px;
    width: auto;
    color: $white;

    &:hover {
    	color: $black;
    }

    &.fa-envelope-o {
        font-size: 30px;
    }
}
	
