.top-image,
.image {
	max-width: 650px;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}

.top-image {
	margin: 30px auto 60px auto;
}

.image {
	margin: 60px auto 10px auto;

	&-half {
		width: 300px;
	}
}

.figure {
	width: 100%;
    margin: 0 0 1rem;

    &-inline {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
    }

	&-img {
	    margin-bottom: .5rem;
	    line-height: 1;
	}
}

.img-fluid {
    max-width: 100%;
    height: auto;
}