<section class="study">
  <h1>App Design</h1>
  <div class="case-study">
    <h3>Role</h3>
    <ul>
      <li>App Flow</li>
      <li>UX Design</li>
      <li>Wireframes</li>
      <li>Mockups</li>
    </ul>
    <h3>Objective</h3>
    <p></p>
    <h3>Challenge</h3>
    <p></p>
    <h3>Solution</h3>
    <p></p>
    <img class="image" src="src/assets/img/mockups/app-mockup.png" alt="App Initial Design Mockup Image">
    <h3>Learned</h3>
    <p></p>
    <img class="image" src="src/assets/img/mockups/app-mockup-revisions.png" alt="App Revisions Mockup Image">
  </div>
</section>