<section class="study">
  <h1>App Design</h1>
  <div class="case-study">
    <h3>Role</h3>
    <ul>
      <li>UX / UI Design</li>
      <li>Wireframes</li>
      <li>Low & Hi-fidely Mockups</li>
      <li>Protyping</li>
      <li>Building mySQL database</li>
    </ul>
    <h3>Objective</h3>
    <p>My clients came to me with an idea for an app. They had a outline of what they needed as far as userflow and functionality. It was my job to bring those journey maps and user flows to life in the most minimal, user friendly way.</p>
    <hr>
    <h3>App 1:</h3>
    <div class="figure">
      <img class="figure-img img-fluid image" src="src/assets/img/mockups/app1-mockup.png" alt="App 1 Initial Design Mockup Image">
      <div class="figure-caption">High fidelity mockup with user flow diagram</div>
    </div>
    <div class="figure">
      <img class="figure-img img-fluid image" src="src/assets/img/mockups/app1-mockup-revisions.png" alt="App 1 Revisions Mockup Image">
      <div class="figure-caption">Revision of the last business pages and how a user should interact.</div>
    </div>
    <h3>Challenge</h3>
    <p>Without going into too much details, because this app has not been released yet, the challenge was bringing to life the area in which you cover on the globe in a game like, competition way.</p>
    <h3>Solution</h3>
    <p>Since this an app being made for both iOS and Andriod there were several discrepencies in how to deal with components. What is good user experience and good flow for iOS wasn't always the best for Andriod. These concerns were addressed with both native developers. Integrating their knowledge for their respective device and platform created a better experience for each and kept things clean and clutterfree specific to each device. This was more time consuming but at the end of the day, one size does not fit all. MVP is soon to be released!</p>
    <hr>
    <h3>App 2:</h3>
    <div class="figure">
      <img class="figure-img img-fluid image" src="src/assets/img/mockups/app2-wireframe.png" alt="App 2 Initial Design Wireframe Image">
      <div class="figure-caption">Wireframe showing user flow diagram.</div>
    </div>
    <div class="figure">
      <img class="figure-img img-fluid image" src="src/assets/img/mockups/app2-mockup-mvp.png" alt="App 2 MVP Mockup Image">
      <div class="figure-caption">High fidelity mockup of the MVP product.</div>
    </div>
    <h3>Challenge</h3>
    <p>Without going into too much details, because this app has not been released yet, the challenge was a mesh between different apps the team had researched. They wanted a way to display places in a users area that have cheap food deals on certain days/times. The key was usability. There are several apps out there currently do slight forms of this but not all together in one.</p>
    <h3>Solution</h3>
    <p>This app is solely being created for iOS initially which made the initial wireframing and mockups easy, only had one set of components to worry about. Taking a que from several apps the team liked we came up with a user friendly, minimal approach to dealing with showing all these places.</p>
    <hr>
    <!-- <iframe width="442" height="935" src="//invis.io/M5OLGWVYRZX" frameborder="0" allowfullscreen></iframe> -->
    <h3>Learned</h3>
    <p>These two apps are the first apps that I have done and been involved with. I worked closely with the product manager on the journey map and desired flow for the user. I learned that communication is key at every step of the way. Making sure that all parties understand each stage. This ensures that no suprises are found later in the process when it will take more time for iterations.</p>
  </div>
</section>