<section class="pageTop panel whiteBkgd">
  <div class="panel__container panel__container--intro">
    <h1>Designer &amp; Developer</h1>
    <p>I live in the world between logical and creative. From ideation to execution with frontend skills and an artistic approach, I bridge the gap between design and engineering.</p>
  </div>
</section>
<section class="panel">
  <div class="panel__container">
    <img class="img-circle" src="./assets/img/me.jpg" alt="Picture of Morgan Taylor" />
  </div>
</section>
<section class="panel coralBkgd">
  <div class="panel__container panel__container--about">
    <h3 class="white">Hi I'm Morgan.</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/morganataylor" target="_blank">
        <span class="fa fa-linkedin-square" aria-hidden="true"></span>
      </a>
      <a href="https://www.pinterest.com/mataylor8/" target="_blank">
        <span class="fa fa-pinterest" aria-hidden="true"></span>
      </a>
      <a href="https://github.com/morgantaylor" target="_blank">
        <span class="fa fa-github" aria-hidden="true"></span>
      </a>
    </div>
    <p class="white font-light">I'm a dairy free, pizza obsessed, lover of all things Lego. I have an open mind to try new things and a thirst to learn as much as I can along the way. Currently, i'm working as a Web Developer in the Bay Area. Having an art school background with a BFA in Photography and a certificate in Web Media, I have a perspective rarely found in an engineering department.</p>
  </div>
</section>
<section class="panel panel__container--skills">
  <div class="flex-cards">
    <div class="card card--large skin-light">
      <div class="card-name">Design</div>
      <div class="card-title coral">What I Design</div>
      <ul class="list-unstyled">
        <li>Web</li>
        <li>Mobile</li>
        <li>Apps</li>
        <li>UX / UI</li>
        <li>Marketing Collateral</li>
        <li>Graphic Design</li>
        <li>Logos</li>
      </ul>
      <div class="card-title coral">Design Tools</div>
      <ul class="list-unstyled">
        <li>Sketch</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Invision</li>
        <li>JustinMind</li>
        <li>Pen &amp; Paper</li>
      </ul>
    </div>
    <div class="card card--large skin-light">
      <div class="card-name">Develop</div>
      <div class="card-title coral">Languages</div>
      <ul class="list-unstyled">
        <li>HTML / HTML5</li>
        <li>CSS / SASS</li>
        <li>Javascript</li>
        <li>Wordpress</li>
      </ul>
      <div class="card-title coral">Actively Learning</div>
      <ul class="list-unstyled">
        <li>MySQL</li>
        <li>AngularJS / Angular 2</li>
        <li>Data Structures and Algorithms</li>
      </ul>
      <div class="card-title coral">Dev Tools</div>
      <ul class="list-unstyled">
        <li>Bootstrap</li>
        <li>Material Design</li>
        <li>Github / Github GUI</li>
        <li>Command Line</li>
      </ul>
    </div>
  </div>
</section>
<section class="panel ">
  <div class="panel__container panel__container--projects">
    <h3>Sample Projects</h3>
    <div>
      <app-projects></app-projects>
    </div>
  </div>
</section>