<section class="study">
  <h1>KFOG</h1>
  <img class="top-image" src="./assets/img/mockups/kfog-mockup.png" alt="KFOG Mockup Image">
  <a href="http://www.kfog.com/" target="_blank"><button class="liveSite">Visit Website</button></a>
  <div class="case-study">
    <h3>Objective</h3>
    <p>Restructure the existing KFOG.com using a Wordpress template. I had to keep in mind some things that we weren't able to change (display ads/trackers, and main promotion carousel). The reason for the shift in appearance was the radio station’s desire to rebrand; the station wanted something fresh and modern to go with the change. Doing something completely new in an attempt to shake up what people inside and outside the industry associate with a radio station website.</p>
    <h3>Challenge</h3>
    <p>My challenge was in changing the entire structure of the website without having access to the actual HTML of the site. I was only able to touch the CSS and add in minimal JavaScript.</p>
    <h3>Solution</h3>
    <p>I wanted to bring users the same information, but in a better way. Research is shown that photos and graphics attract people much more than static words. I put an emphasis and priority on graphics, photos, and color to attract people to the new style and layout of the website. Structurally, users are accustomed to seeing cards and the kind of information they contain. Adding white space and having a real purpose for every element is something most radio station websites don't have. That is what we aimed to change.</p>
    <h3>Learned</h3>
    <p>I wasn't entirely sure how I was going to do this rebuild initially. Before this project, I had never dug into how to restyle the structure of a Wordpress site. I went one piece at a time and did a lot of testing within the developer tools of Chrome's browser to see what would happen. The entire rebuild was based on trial, error, and determination.</p>
  </div>
</section>