<section class="study">
  <h1>KFOG Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge</h1>
  <img class="top-image" src="./assets/img/mockups/levis-mockup.png" alt="Levi's® Lounge Mockup Image">
  <div class="case-study">
    <h3>Objective</h3>
    <p>Create an online space that houses all of the online content that comes out of the Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge performance space.</p>
    <h3>Challenge</h3>
    <p>There were three main challenges for this project. First, I had to find a way to integrate it into KFOG.com as a whole. In addition, I needed to organize the different types of content on the page in a way that people would intuitively understand and not need secondary navigation. Finally,  I made sure that the content was consistent in the way it was presented.</p>
    <div class="figure-inline">
      <div class="figure">
        <img class="figure-img image-half" src="./assets/img/mockups/levis-drawing.png" alt="Levi's Lounge Wireframe Image">
        <div class="figure-caption">Wireframe illustration for Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge on KFOG.com.</div>
      </div>
      <div class="figure">
        <img class="figure-img image-half" src="./assets/img/mockups/knbr-levis-drawing.png" alt="Levi's Lounge Wireframe Image">
        <div class="figure-caption">Wireframe for Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge on KNBR.com. Same style, different content.</div>
      </div>
    </div>
    <h3>Solution</h3>
    <p>We split the page into two. On one side, the header area displays the featured upcoming events/contest and on the other side, static text invites people into the online space and conveys what Levi's<span style="font-size:15px;vertical-align:top;">®</span> Lounge is all about. The content has been put into the second half of the page under three categories (performance, interviews, and photos). Those categories are represented by a color coded system.This color coding, for now, eliminates the need for bulky navigation. Having another navigation section would distract from the main site navigation and could potentially confuse visitors. Because this color coding system is consistent throughout the site, visitors have an easier time navigating the web site. It helps with the overall change on KFOG.com.</p>
    <h3>Learned</h3>
    <p>I learned how to work on a project long-term. This included working through feedback, ideas, and solutions with internal departments and outside partners. Finding a way to make the partners happy with the product while still producing clean code that can continue to evolve is my goal. Knowing that I may not have direct communication but that my ideas and points come across in the product was important and remains important while this project is still ongoing on KFOG.com as well as other radio station websites in the cluster.</p>
  </div>
</section>