<section class="study">
  <h1>Daily Flow Fitness</h1>
  <img class="top-image" src="./assets/img/mockups/dff-mockup.png" alt="Daily Flow Fitness Mockup Image">
 <!--  <a href="http://www.dailyflowfitness.com/" target="_blank"><button class="liveSite">Visit Website</button></a> -->
  <div class="case-study">
    <h3>Role</h3>
    <ul>
      <li>Logo Design</li>
      <li>Business Cards</li>
      <li>Website UX &amp; Development</li>
    </ul>
    <img class="image" src="./assets/img/mockups/dff-logo-brainstorm.png" alt="Daily Flow Fitness Logo Brainstorm">
    <h3>Objective</h3>
    <p>Create a fitness website that not only showcases the business, but also, differentiates it in this overly saturated SF Bay Area fitness market.  Owner wanted it be be fun, clean, and, have a humorous voice. Most websites in the industry are either stuffy, clinical, and don't have that personal touch that he believes training is all about.</p>
    <h3>Challenge</h3>
    <ul>
      <li>Finding a way to be different while having a fun voice.  Ensuring the website stands out from all others offering training services.</li>
      <li>Being able to engage people of all ages and give adequite information about services offered</li>
      <li>Having a straight forward way for people to contact</li>
    </ul>
    <h3>Solution</h3>
    <p>The main focus of the website was to be fully responsive. Making sure usability was key and getting as many people on the website as possible. The main message is about transforming your life and making a positive change. People have a lot of questions before contacting a trainer. With this website, I try to clear up as many questions as possible so prospective clients feel knowledgeable about what they want prior to contacting Daily Flow Fitness.</p>
    <img class="image" src="./assets/img/mockups/dff-website-wireframe.png" alt="Daily Flow Fitness Website Wireframe">
    <h3>Learned</h3>
    <p>The fitness industry is really saturated in the Bay Area and there are plenty of websites out there that are plastered with pictures and videos. It's almost too much for people looking for a trainer to figure out where to start. When I first started my research into the industry, other trainers, and what their websites looked like and offered, I noticed they dumped a lot of information on the user. I felt it was important to have a balance of information, a fun voice, and clean presentation without the clutter of too many pictures, too many diagrams, and too much preaching. The real information should come from the trainer in person. The website is just to give you a feel.</p>
  </div>
</section>